/*! resol-vbus | Copyright (c) 2013-2017, Daniel Wippermann | MIT license */
'use strict';



var path = require('path');



module.exports = {

    /**
     * Name of the Connection class to use to connect.
     */
    connectionClassName: 'TcpConnection',

    /**
     * Options for the Connection instance.
     */
    connectionOptions: {
        host: '192.168.14.100',
        password: 'vbus',
    },

    /**
     * Logging interval in milliseconds.
     */
    loggingInterval: 10000,

    /**
     * Logging time to live in milliseconds.
     */
    loggingTimeToLive: 60000,

    /**
     * Logging directory.
     */
    loggingPath: path.resolve(__dirname, 'cache'),

    /**
     * Port number to bind the web server to.
     */
    webServerPort: 3000,

    /**
     * Interval in which data will be uploaded to Xively.com. A value of zero disables this functionality.
     */
    xivelyInterval: 0,

    /**
     * Xively.com API Key.
     */
    xivelyApiKey: 'API_KEY',

    /**
     * Xively.com Feed ID.
     */
    xivelyFeedId: 'FEED_ID',

    /**
     * A map of Xively.com data point IDs to VBus packet field IDs.
     */
    xivelyPacketFieldMap: {
        'Collector': '00_0015_427B_0100_000_2_0',
        'TankBottom': '00_0015_427B_0100_002_2_0',
    },

};
